# PORT: The port the backend server binds to (default: 3000)
PORT=3000

# NODE_ENV: The environment state (production, development)
NODE_ENV=development

# APP_URL: The external host URL of the portal application
APP_URL="https://localhost:3000"
